<!DOCTYPE html>
<html>
  <%=  render 'layouts/stylesheets'%>
  <body>
    <div class="container">
      <div class="title">
  <%=  render 'layouts/header'%>
      </div>
      <section class="round">
        <%= yield %>
      </section>
    </div>
  </body>
</html>